.hs_field,
.hs_input,
.hs_label {
  display: block;
  max-width: 500px;
}

// Wrapper for any input
.hs_field {
  margin: 0 0 20px;
}

.hs_input {
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 1.4rem;
  height: 38px;
  margin: 4px 0 0;
  max-width: 500px;
  padding: 10px 8px;
  width: 100%;
  appearance: none;

  &.-text {
    height: 80px;
  }
}

.hs_label {
  font-family: $sf-ui-text-medium;
  //margin: 0 0 8px;

  //&.-select {
  //  position: relative;
  //
  //  &::after {
  //    content: '\e90c';
  //    display: block;
  //    font-family: icomoon;
  //    position: absolute;
  //    right: 8px;
  //    font-size: 1.6rem;
  //    color: $gray-light;
  //    top: 55%;
  //  }
  //}
}

.hs_button {
  background-color: $red;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: $sf-ui-text-medium;
  font-size: 1.4rem;
  height: 36px;
  max-width: 200px;
  transition: color .3s ease, background-color .3s ease;
  width: 100%;

  &.-animated {
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateX(-120%) skewX(45deg);
      transition: transform .3s ease;
      width: 120%;
      z-index: -1;
    }

    &:hover,
    &:focus {
      &::before { transform: translateX(0) skewX(0deg); }
    }
  }

  &.-white {
    background-color: $white;
    border: 2px solid $red;
    color: $red;

    &:hover,
    &:focus {
      background-color: $red;
      color: $white;
    }

    &.-animated {
      &:hover { background-color: transparent; }
      &::before { background-color: $red; }
    }
  }

  &.-gray {
    background-color: #f0f0f0;
    color: $gray-dark;

    &:hover,
    &:focus {
      background-color: darken(#f0f0f0, 10%);
    }
  }

  &.-small {
    max-width: 100px;
  }
}
