@font-face {
  font-family: 'sf_ui_textmedium';
  src: font-url('sf-ui-text-medium-webfont.woff2') format('woff2'),
  font-url('sf-ui-text-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_ui_textregular';
  src: font-url('sf-ui-text-regular-webfont.woff2') format('woff2'),
  font-url('sf-ui-text-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}