@font-face {
    font-family: 'icomoon';
    src: asset_url('icomoon.eot?s2fx47');
    src: asset_url('icomoon.eot?s2fx47#iefix') format('embedded-opentype'),
    asset_url('icomoon.ttf?s2fx47') format('truetype'),
    asset_url('icomoon.woff?s2fx47') format('woff'),
    asset_url('icomoon.svg?s2fx47#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-appicons-01:before {
    content: "\e900";
}

.icon-appicons-02:before {
    content: "\e901";
}

.icon-appicons-03:before {
    content: "\e902";
}

.icon-appicons-04:before {
    content: "\e903";
}

.icon-appicons-05:before {
    content: "\e904";
}

.icon-appicons-06:before {
    content: "\e905";
}

.icon-appicons-07:before {
    content: "\e906";
}

.icon-appicons-08:before {
    content: "\e907";
}

.icon-appicons-09:before {
    content: "\e908";
}

.icon-appicons-10:before {
    content: "\e909";
}

.icon-appicons-11:before {
    content: "\e90a";
}

.icon-appicons-12:before {
    content: "\e90b";
}

.icon-appicons-13:before {
    content: "\e90c";
}

.icon-appicons-14:before {
    content: "\e90d";
}

.icon-appicons-15:before {
    content: "\e90e";
}

.icon-appicons-16:before {
    content: "\e90f";
}

.icon-appicons-17:before {
    content: "\e910";
}

.icon-appicons-18:before {
    content: "\e911";
}

.icon-appicons-19:before {
    content: "\e912";
}

.icon-appicons-20:before {
    content: "\e913";
}

.icon-appicons-21:before {
    content: "\e914";
}

.icon-appicons-22:before {
    content: "\e915";
}

.icon-appicons-23:before {
    content: "\e916";
}

.icon-appicons-24:before {
    content: "\e917";
}

.icon-appicons-25:before {
    content: "\e918";
}

.icon-appicons-26:before {
    content: "\e919";
}

.icon-appicons-27:before {
    content: "\e91a";
}

.icon-appicons-28:before {
    content: "\e91b";
}

.icon-appicons-29:before {
    content: "\e91c";
}

.icon-appicons-30:before {
    content: "\e91d";
}

.icon-appicons-31:before {
    content: "\e91e";
}

.icon-appicons-32:before {
    content: "\e91f";
}

.icon-appicons-33:before {
    content: "\e920";
}

.icon-appicons-34:before {
    content: "\e921";
}

.icon-appicons-35:before {
    content: "\e922";
}

.icon-appicons-36:before {
    content: "\e923";
}

.icon-appicons-37:before {
    content: "\e924";
}

