// colors
$background: #f0f0f0;
$nav-tab-bars: #fafafa;

$white: #fff;
$red: #e01f09;
$blue: #007aff;

$gray-light: #999;
//$gray: #403e44;
$gray-dark: #333;

$yellow: #f0a30a;

// fonts
$sf-ui-text-regular: 'sf_ui_textregular', sans-serif;
$sf-ui-text-medium: 'sf_ui_textmedium', sans-serif;

$base-font-size: 1rem;
