// colors
$white: #fff;
$red: #e01f09;

$gray-light: #999;
$gray: #403e44;
$gray-dark: #333;

// fonts
$sf-ui-text-regular: 'sf_ui_textregular', sans-serif;
$sf-ui-text-medium: 'sf_ui_textmedium', sans-serif;
