// TODO: eliminate
// hack
#cart-section {
  display: inline;
}

.header {
  width: 100%;
}

  .header__nav {
    border-bottom: 1px solid #ccc;
  }

    .header__link {
      color: $gray-dark;
      display: block;
      float: left;
      font-family: $sf-ui-text-medium;
      height: 100%;
      line-height: 20px;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease color;

      &:hover {
        color: $red;
      }
      
      &.is-active {
        background-color: $red;
        color: $white;
      }
    }

    .header__link--main {
      font-size: 1.6rem;
    }

    .header__link--icon {
      border-left: 1px solid #ccc;
      color: #777;
      height: 30px;
      line-height: 25px;
      margin: 10px 0;
      padding-bottom: 5px;
      padding-top: 5px;

      &:hover {
        color: $gray-dark;
      }
    }

      .header__icon {
        font-size: 2.2rem;
      }

      .header__text {
        font-family: $sf-ui-text-regular;
        text-transform: none;
        vertical-align: 3px;
      }

    .header__link--category {
      font-family: $sf-ui-text-regular;
      padding-bottom: 11px;
      padding-top: 15px;
      text-transform: inherit;

      &.is-active {
        background-color: $white;
        border-bottom: 4px solid $red;
        color: $gray-dark;
      }
    }

    .header__menu {
      border-top: 1px solid #ccc;
      height: 50px;
    }
