.header {
  font-size: 0;
  height: 50px;
  width: 100%;
  //overflow: hidden;
}

  .header__nav {
    height: 50px;
  }

    .header-link {
      color: #333;
      display: block;
      float: left;
      font-size: 1.6rem;
      height: 100%;
      line-height: 20px;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease color;

      &:hover {
        color: $red;
      }
      
      &.is-active {
        background-color: $red;
        color: $white;
      }
    }

    .header-link.mod-logo {
      font-size: 2.4rem;
      padding: 21px 0 0 0;
      text-transform: none;
    }

    .header-link.mod-cart {
      padding: 24px 0 0 0;
    }

      .header-link-icon {

      }

      .header-link-badge {
        @extend .badge;
        display: inline-block;
        margin-left: 3px;
      }
