.header {
  font-size: 0;
  height: 50px;
  width: 100%;
}

  .header__nav {
    height: 50px;
  }

    .header__link {
      color: #333;
      display: block;
      float: left;
      font-size: 1.6rem;
      height: 100%;
      line-height: 20px;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease color;

      &:hover {
        color: $red;
      }
      
      &.is-active {
        background-color: $red;
        color: $white;
      }
    }

    .header__link--icon {
      border-left: 1px solid #ccc;
      color: #777;
      height: 30px;
      line-height: 25px;
      margin: 10px 0;
      padding-bottom: 5px;
      padding-top: 5px;

      &:hover {
        color: #333;
      }
    }

      .header__icon {
        font-size: 2.2rem;
      }

      .header__text {
        font-family: $sf-ui-text-regular;
        font-size: 1.6rem;
        text-transform: none;
      }
