.product {

}
  .product__preview {
    float: left;
  }

  .product__details-wrapper,
  .product__related-wrapper {
    padding-left: 20px;
    float: left;
    display: block;
  }

  .product__details,
  .product__related {

  }
