<header class="header u-clear">
  <nav class="header__nav">
    <a class="header-link mod-logo" href="#">
      <h1>Helen Shop</h1>
    </a>
    <a class="header-link" href="#">
      Каталог
    </a>
    <a class="header-link" href="#">
      Доставка и оплата
    </a>
    <a class="header-link" href="#">
      Контакты
    </a>
    <a class="header-link" href="#">
      Отзывы
    </a>
    <a class="header-link mod-cart" href="#">
      <i class="header-link-icon icon-bag"></i>
      Моя корзина
      <i class="header-link-badge mod-circle mod-white">2</i>
    </a>
  </nav>
</header>