<header class="header">
  <nav class="header__nav">
    <div class="container u-clear">
      <div class="u-left">
        <a class="header__link is-active" href="#">
          <%= t 'general.women' %>
        </a>
        <a class="header__link" href="#">
          <%= t 'general.men' %>
        </a>
      </div>

      <div class="u-right">
        <a href="#" class="header__link header__link--icon">
          <!-- TODO: make icon as a pseudo element-->
          <i class="header__icon icon-appicons-09"></i>
        </a>
        <a class="header__link header__link--icon" href="#">
          <!-- TODO: make icon as a pseudo element-->
          <i class="header__icon icon-appicons-07"></i>
        </a>
        <a class="header__link header__link--icon" href="#" aria-label="<%= t 'general.my_cart' %>">
          <!-- TODO: make icon as a pseudo element-->
          <i class="header__icon icon-appicons-06"></i>
          <span class="header__text">
            0 items
          </span>
        </a>
      </div>
    </div>

    <div class="header__menu">
      <div class="container u-clear">
        <a class="header__link header__link--category is-active" href="#">
          New
        </a>
        <a class="header__link header__link--category" href="#">
          Clothing
        </a>
        <a class="header__link header__link--category" href="#">
          Shoes
        </a>
        <a class="header__link header__link--category" href="#">
          Sale
        </a>
      </div>
    </div>

  </nav>
</header>