<!-- TODO: make it as a toast ? -->
<!--<p id="notice">-->
  <%#= notice %>
<!--</p>-->

<%= render partial: 'reusable_partials/sidebar' %>

<div class="content u-clear">
  <div class="product-list u-clear">
    <% @products.each do |product| %>
      <div class="product">
        <%= link_to product, class: 'product__link product__link--image-wrapper' do %>
          <%= image_tag product.image_url, class: 'product__image' %>
        <% end %>

        <div class="product__metadata">
          <span class="product__price">
            <!-- TODO: make UAH -->
            <%= number_to_currency(product.price) %>
          </span>
          <span>
            <i class="icon-appicons-08"></i>
          </span>
        </div>

        <!-- discount label -->
      </div>
    <% end %>
  </div>
</div>
