<!DOCTYPE html>
<html>
  <head>
    <title>Интернет-магазин Helen Shop: одежда, обувь, аксессуары</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header u-clear">
      <a class="header-link mod-logo" href="#">
        Helen Shop
      </a>
      <a class="header-link" href="#">
        Каталог
      </a>
      <a class="header-link" href="#">
        Доставка и оплата
      </a>
      <a class="header-link" href="#">
        Контакты и филиалы
      </a>
      <a class="header-link" href="#">
        Отзывы
      </a>
      <a class="header-link mod-cart" href="#">
        <i class="header-link-icon"></i>
        Моя корзина
        <i class="header-link-badge">2</i>
      </a>
    </header>
    <%= yield %>
  </body>
</html>
